<!--start-home-->
<div class="main-header" id="house">
			<div class="header-strip">
			   <div class="container">
				<div class="social-icons">
					<ul>
						<li><a href="#"><i class="facebook"> </i></a></li>
						<li><a href="#"><i class="twitter"> </i></a></li>
						<li><a href="#"><i class="google-plus"> </i></a></li>	
						<li><a href="#"><i class="dribble"> </i></a></li>										
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
			</div>
			<div class="header-top">
			<div class="logo"><a href="index.html"><h1><span>I</span>nventive <span class="two">D</span>esign</h1></a></div>
						<nav class="navbar navbar-default">
					  <div class="container-fluid">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
						  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						  </button>
							</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			   <ul class="nav navbar-nav">
				<li><a href="index.html">Home<span class="sr-only">(current)</span></a></li>
				<li><a href="aabout.html">About</a></li>
				
				<li class="dropdown">
					<a href="gallery.html" class="dropdown-toggle" data-toggle="dropdown">Gallery<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						 <li><a href="home1.html">House</a></li>
						<li><a href="office.html">Offices</a></li>
                                                <li><a href="school.html">Schools</a></li>
                                                 <li><a href="college.html">Colleges</a></li> 
                                                 <li><a href="university.html">Universities</a></li> 
   <li><a href="property.html">Property</a></li>
					</ul>
				</li>
			
				<li><a href="contact.html">Contact</a></li>
	
				</ul>
			</div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
			<div class="clearfix"></div>
	</div>
		<div class="banner-two">
		
		</div>
</div>
	 <!--/contact-->
	 <div class="section-contact" id="contact">
	    <div class="container">
           <div class="contact-main">
				    <div class="col-md-6 contact-grid wow fadeInUp"  data-wow-duration="1s" data-wow-delay=".3s">
					<h4 class="tittle wow bounceIn"  data-wow-duration=".8s" data-wow-delay=".2s">Contact Us</h4>

							<p class="wel-text wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".4s"> We design people's dream.We are available 24/7.</p>
						   <form action="#" method="post" class="contact">
									<div class="styled-input">
									  <input type="text" required />
									  <label>Name</label>
									  <span></span> </div>
									<div class="styled-input">
									  <input type="email" required />
									  <label>Email</label>
									  <span></span> </div>
									<div class="styled-input">
									  <input type="text" required />
									  <label>Phone</label>
									  <span></span> </div>
									<div class="styled-input">
									  <textarea required></textarea>
									  <label>Message</label>
									  <span></span> </div>
										<div class="send">
											<input type="submit" value="Send" >
										</div>
						     </form>


					   </div>
					<
				<!--//map-->
			 </div>
			 
					<div class="col-md-6 contact-in wow fadeInUp"  data-wow-duration="1s" data-wow-delay=".5s">
						<h4 class="info">Our Information </h4>
						<p class="para1"> We design people's dream.We are available 24/7. </p>
						<div class="con-top">
							<h4>Sialkot</h4>
								<ul>
								<li>Daska Road</li> 
								
								
								<li>Sialkot - 99501</li> 
								<li>Ph:+92076889006 </li>
								<li>Call Centre Time : 7am to 11pm</li>
								<li><a href="mailto:info@example.com">19101001-055@uskt.edu.pk</a></li>
							  </ul>
						</div>
						<div class="con-top two">
							<h4>Lahore</h4>
							<ul>
								<li>Anarkali Road</li> 
								   
								 
								<li>Lahore - 96815</li>
								<li>Ph:+9203076889006 </li>
								<li>Call Centre Time : 7am to 11pm</li>	
								<li><a href="mailto:info@example.com">amber.aslambsse@gmail.com</a></li>
							</ul>								
						</div>
					</div>
					
						<div class="clearfix"> </div>
			      </div>
			 
			 
			 
		</div>
		
		
		
		
		
		<!--//contact-->
<!--footer-->

			