<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="~/css/design.css">
	<title>Bigline</title>
</head>
<body>
    <header>
        <div class="navbar">
			<div class="logo">
				<img src="~/pictures/logo.png">
			</div>
			<div class="menu">
				<ul>
					<li>@Html.ActionLink("Home" , "Index")</li>
					<li><a href="">About Us</a></li>
					<li><a href="">Products</a></li>
					<li><a href="">Inquiry Form</a></li>
					<li>@Html.ActionLink("Contact Us" , "form")</li>
					<li><a href="">Sitemap</a></li>
				</ul>
			</div>
			<div class="search">
				<li><a href=""><img src="~/pictures/search.png"></a></li>
			</div>
			<div class="flag">
				<li><a href=""><img src="~/pictures/flags.png"></a></li>
			</div>
		</div>
		<div class="line">
			<p>Our Feature Products are our Special products. We use quality material to produce these products for our
				customer to attaract for quality.</p>
		</div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="last">
		<div class="heading">
			<h1>Quick Jump to <b>Our Products</b></h1>
		</div>
		<div class="main-bottom">

			<div class="first-line">
				<ul>
					<li><a href="">Extracting Forceps</a></li>
				</ul>
				<ul>
					<li><a href="">Elevators</a></li>
				</ul>
				<ul>
					<li><a href="">Handles&Mouth Mirrors</a></li>
				</ul>
				<ul>
					<li><a href="">Endodontic Condensers</a></li>
				</ul>
				<ul>
					<li><a href="">Amalgam Pluggers</a></li>
				</ul>
				<ul>
					<li><a href="">Wax Carvers</a></li>
				</ul>
			</div>
			<div class="first-line">
				<ul>
					<li><a href="">Extracting Forceps</a></li>
				</ul>
				<ul>
					<li><a href="">Elevators</a></li>
				</ul>
				<ul>
					<li><a href="">Handles&Mouth Mirrors</a></li>
				</ul>
				<ul>
					<li><a href="">Endodontic Condensers</a></li>
				</ul>
				<ul>
					<li><a href="">Amalgam Pluggers</a></li>
				</ul>
				<ul>
					<li><a href="">Wax Carvers</a></li>
				</ul>
			</div>

			<div class="first-line">
				<ul>
					<li><a href="">Extracting Forceps</a></li>
				</ul>
				<ul>
					<li><a href="">Elevators</a></li>
				</ul>
				<ul>
					<li><a href="">Handles&Mouth Mirrors</a></li>
				</ul>
				<ul>
					<li><a href="">Endodontic Condensers</a></li>
				</ul>
				<ul>
					<li><a href="">Amalgam Pluggers</a></li>
				</ul>
				<ul>
					<li><a href="">Wax Carvers</a></li>
				</ul>
			</div>
			<div class="first-line">
				<ul>
					<li><a href="">Extracting Forceps</a></li>
				</ul>
				<ul>
					<li><a href="">Elevators</a></li>
				</ul>
				<ul>
					<li><a href="">Handles&Mouth Mirrors</a></li>
				</ul>
				<ul>
					<li><a href="">Endodontic Condensers</a></li>
				</ul>
				<ul>
					<li><a href="">Amalgam Pluggers</a></li>
				</ul>
				<ul>
					<li><a href="">Wax Carvers</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="last-section">
		<div class="last-line">
			<ul>
				<li><a href="">Home</a></li>
			</ul>
			<ul>
				<li><a href="">About Us</a></li>
			</ul>
			<ul>
				<li><a href="">Products</a></li>
			</ul>
			<ul>
				<li><a href="">Privacy Policy</a></li>
			</ul>
			<ul>
				<li><a href="">Terms&Conditions</a></li>
			</ul>
			<ul>
				<li><a href="">News&Events</a></li>
			</ul>
			<ul>
				<li><a href="">Contact Us</a></li>
			</ul>
			<ul>
				<li><a href="">Inquiry Basket</a></li>
			</ul>
			<ul>
				<li><a href="">Sitemap</a></li>
			</ul>

		</div>
		<div class="lastme">

			<p>Copyrights © 2019 Bigline International . All rights reserved. All material on this site is copyrighted.
			</p>
		</div>

	</div>
    </footer>
</body>
</html>
