@{
    ViewData["Title"] = "Home Page";
}

<div class="banner">
		<img src="~/pictures/main-banner.jpg" width="100%">
		<div class="text-main">
			<h1>Dental Instruments</h1>
			<p>Dental instruments are made of high quality <br>stainless steel.</p>
		</div>
		<div class="banner-imgs">
			<div class="img1">
				<img src="~/pictures/banner-img1.jpg">
			</div>
			<div class="img1">
				<img src="~/pictures/banner-img2.jpg">

			</div>
			<div class="img1">

				<img src="~/pictures/banner-img3.jpg">
			</div>
		</div>
	</div>


	<div class="banner-bottom">
		<div class="why">
			<h1>WHY CHOOSE US? </h1>
			<h2>____________</h2>
		</div>
		<div class="categories">
			<div class="inside-cat">
				<div class img>
					<img src="~/pictures/bulb.png">
					<h1>Professional Approach</h1>
					<p>Trustworthy & reliable team</p>
				</div>

			</div>
			<div class="inside-cat2">
				<div class img>
					<img src="~/pictures/hammer.png">
					<h1>German Stainless Stell</h1>
					<p>Excellent forged Quality</p>
				</div>

			</div>
			<div class="inside-cat3">
				<div class img>
					<img src="~/pictures/goodmark.png">
					<h1>Lifetime Warranty</h1>
					<p>Lifetime Quality Warranty</p>
				</div>

			</div>
			<div class="inside-cat4">
				<div class img>
					<img src="~/pictures/aeroplane.png">
					<h1>On Time Shipment</h1>
					<p>Across The Globe</p>
				</div>

			</div>

		</div>
	</div>
	<div class="main2">

		<div class="banner-2">
			<img src="~/pictures/banner2.jpg">
			<div class="welcome">
				<h3>Welcome to</h3>
				<h1>Bigline</h1>
				<h3>International</h3>
				<p>Bigline International has been a leading Manufacturer & Exporters Of fine<br> quality instruments of
					Beauty from previous several years. We are continuously<br> providing the Best Instruments <br>of
					Beauty Instruments in all over the World. Our Products supports all kind<br> Medical as well as many
					Specialties such as Beauty Instruments . We con<br>tinue to advance the standard for Product &
					service excellence to improve <br>the Quality of Healthcare.</p>
			</div>

		</div>
		<div class="banner-3">

			<h1>SPECIAL PRODUCTS</h1>

			<div class="pliee">
				<div class="plier">
					<img src="~/pictures/plier.jpg">
					<p>Extracting Forceps<br>AE-1001</p>
					<div class="option">
						<img src="~/pictures/search.png">
					</div>
				</div>



				<div class="jughar">
					<div class="stand">
						<img src="~/pictures/stand.jpg">
						<p>Extracting Forceps<br>AE-1001</p>
						<div class="option">
							<img src="~/pictures/search.png">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="client">
		<div class="client-inside">
			<h1> What our<b> CLient Say</b></h1>
			<img src="~/pictures/redline.png">
		</div>
		<div class="review-main">
			<div class="review">
				<img src="~/pictures/bachi.png">
				<h1> Joray Taylor</h1>
				<h3> Kidney Patient</h3>
				<p>Bigline International has been a leading Manufacturer & Exporters Of fine<br> quality instruments of
					Beauty from previous several years.</p>
				<div class="comma">
					<img src="~/pictures/comma.png">
				</div>

			</div>

			<div class="review">
				<img src="~/pictures/bachi2.png">
				<h1>Pamela</h1>
				<h3> Kidney Patient</h3>
				<p>Bigline International has been a leading Manufacturer & Exporters Of fine<br> quality instruments of
					Beauty from previous several years.</p>
				<div class="comma">
					<img src="~/pictures/comma.png">
				</div>
			</div>

		</div>

	</div>

	<div class="dr">
		<img src="~/pictures/banner-dr.jpg">
		<div class="book">
			<img src="~/pictures/book.png">
		</div>
	</div>